h1 {
    color: rgb(223, 213, 22);
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin: auto;
    padding: 8px;
}
.subtitle {
    display: block;
    color: rgb(36, 181, 145);
    border: 2px solid rgb(223, 213, 22);
    text-align: center;
    margin: 10px;
    font-size: 25px;
    font-family: cursive;
}
.list {
    display: block;
    margin: 30px;
    background-color: rgb(206, 255, 243);
}